
.todo > * {
    display: inline;
    cursor: pointer;
}

.todo {
    padding: 10px;
    border-radius: 5px;
    margin: 2px;
}

.todo:hover {
    background-color: gainsboro;
}

.barre {
    text-decoration: line-through;
}

  